node_modules/
.env
*.sqlite
*.db
*.db-shm
*.db-wal
logs/
backend/logs/
uploads/
backend/uploads/

*.keras
*.h5
*.pkl
*.bin
ai-service/data/vector_db/
ai-service/data/medical_docs/
ai-nurse-service/data/vector_db/
__pycache__/
*.pyc
